/*************************************************
*
*   Espaço Hórus    -     Stylesheet
*
*************************************************/

/*-------------------------------------------------
*   Base
-------------------------------------------------*/

body {

}

h1, h2, h3, h4 {

}

ul {

}

li {

}

p {

}

a {

}

/*------------------------------------------------
*   Header
------------------------------------------------*/

.banner {
  display: inline-block;
}

.header {
  /* background: #000 url(../images/sky.png) no-repeat center top; */
  background-color: #212121;
  padding: 250px 0 250px;
}

/*------------------------------------------------
*   Navigation
------------------------------------------------*/

.navigation {
  /* background: #000 url(../images/sky.png) no-repeat center top; */
  background-color: #212121;
  border: 0;
  border-radius: 0;
  margin: 0;
}

/*------------------------------------------------
*   Home
------------------------------------------------*/

.home {
  background-color: #CCC;
  padding: 100px 0;
}

.home-img {
  width: 300px;
  height: auto;
}

.home-text {
  vertical-align: middle;
}

/*------------------------------------------------
*   About
------------------------------------------------*/

.about {
  background-color: #AAA;
  padding: 50px 0;
}

.about img {
  width: 250px;
  height: auto;
  align-items: center;
}



/*------------------------------------------------
*   Location
------------------------------------------------*/

.location {
  align-items: center;
  background-color: #333;
  padding: 100px 0 100px;
}

.map {
  height: 300px;
  width: 300px;
}

/*------------------------------------------------
*   Footer
------------------------------------------------*/

.footer {
  background-color: #212121
}
