/*************************************************
*
*   Espaço Hórus      -     Stylesheet
*   White             -     #fff
*   Blue              -     #23527c
*   Gray #1 (Lighter) -     #ccc
*   Gray #2           -     #c5c5c5
*   Gray #3           -     #bbb
*   Gray #4           -     #b5b5b5
*   Gray #5           -     #aaa
*   Gray #6           -     #a5a5a5
*   Gray #7           -     #777
*   Gray #8           -     #333
*   Gray #9 (Darker)  -     #252525
*   Black             -     #000
*
*************************************************/

/*-------------------------------------------------
*   Base
-------------------------------------------------*/

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ol, ul {
  padding: 0;
  list-style-type: none;
}

/*------------------------------------------------
*   Navigation
------------------------------------------------*/

.navigation {
  background-color: #252525;
  border: 0;
  border-radius: 0;
  margin: 0;
}

/*------------------------------------------------
*   Header
------------------------------------------------*/

.banner {
  display: inline-block;
}

.brand {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.active-brand {
  opacity: 1;
  visibility: visible;
}

.header {
  align-items: center;
  background-color: #252525;
  display: flex;
  height: 100vh;
}

.header h3 {
  color: #777;
  padding-top: 50px;
}

/*------------------------------------------------
*   About
------------------------------------------------*/

.about {
  background-color: #ccc;
  padding: 60px 0;
}

.about img {
  align-items: center;
  display: inline-block;
  height: auto;
  padding-top: 20px;
  width: 250px;
}

.about p {
  padding-bottom: 20px;
}

.about > .services > .tattoo > .feedbacks > .contact > .location + h2 {
  padding-bottom: 20px;
}

/*------------------------------------------------
*   Services
------------------------------------------------*/

.services {
  background-color: #c5c5c5;
  padding: 60px 0;
}

.services h3 {
  padding-bottom: 30px;
}

.services li {
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.services ul li:last-child,
.services ul li:first-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.services-row {
  cursor: pointer;
  display: table;
  vertical-align: middle;
}

.services-subtitle {
  font-size: 18px !important;
}

.services-item {
  display: table-cell;
  float: none;
}

.services-close-option {
  display: none;
}

.services-close-all {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.services-close-all p {
  margin: 0;
  padding: 0;
}

.services-close-all .icon {
  margin-left: 10px;
}

.jumbotron p {
  font-size: 16px;
}

.services-description {
  display: none;
}

.icon {
  font-size: 18px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.icon.clicked {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*------------------------------------------------
*   Tattoo
------------------------------------------------*/

.tattoo {
  background-color: #bbb;
  padding: 50px 0 80px 0;
}

.tattoo-banner {
  width: 100%;
}

.tattoo-subtitle {
  font-size: 18px;
  padding-bottom: 20px;
}

.tattoo-subtitle a,
.tattoo-subtitle a:active,
.tattoo-subtitle a:focus,
.tattoo-subtitle a:hover {
  text-decoration: none;
}

/*------------------------------------------------
*   Feedbacks
------------------------------------------------*/

.feedbacks {
  align-items: center;
  background-color: #b5b5b5;
  padding: 50px 0 80px 0;
}

.carousel {
  max-height: 500px;
  overflow: hidden;
}

.carousel div {
  padding: 0;
}

.item.row {
  display: table;
}

.left-div {
  display: table-cell;
  float: none;
}

.right-div {
  background-color: #252525;
  color: #fff;
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.carousel img {
  height: auto;
  width: 100%;
}

.carousel blockquote {
  border: 0;
  font-size: 22px;
  font-style: italic;
  font-weight: lighter;
  padding: 30px;
  position: relative;
}

.carousel blockquote:before {
  color: #777;
  content: '\201C';
  display: block;
  font-size: 80px;
  left: 20px;
  position: absolute;
  top: -10px;
}

.carousel blockquote cite {
    color: #aaa;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.carousel blockquote cite:before {
    content: "\2014 \2009";
}

/*------------------------------------------------
*   Contact
------------------------------------------------*/

.contact {
  align-items: center;
  background-color: #aaa;
  padding: 60px 0;
}

.contact p {
  font-size: 18px;
  margin-bottom: 0;
}

.contact-name {
  padding-bottom: 20px;
}

.contact h4 {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.contact-subtitle {
  padding-bottom: 30px;
}

.contact-hour {
  padding-bottom: 20px;
}

.contact-list {
  overflow: hidden;
}

.contact-item {
  border-right: #777 solid 1px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.contact .fa.fa-phone {
  font-size: 30px;
}

.contact-phone {
  color: #000;
  text-decoration: none;
}

.contact-phone:active,
.contact-phone:focus,
.contact-phone:hover {
  color: #000;
  cursor: default;
  text-decoration: none;
}

.contact-email {
  color: #777;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.contact-email:active,
.contact-email:focus,
.contact-email:hover {
  color: #000;
  text-decoration: none;
  transform: scale(1.3);
}

.contact-email i {
  padding-right: 5px;
}

.contact-social-media {
  color: #777;
  font-size: 24px;
  margin: 10px 10px 30px 10px;
  transition: all 0.3s;
}

.contact-social-media:active,
.contact-social-media:focus,
.contact-social-media:hover {
  color: #23527c;
  text-decoration: none;
  transform: scale(1.5);
}

.contact-horus a {
  display: inline-block;
  margin: 20px 0;
  transition: all 0.1s
}

.contact-horus a:active,
.contact-horus a:focus,
.contact-horus a:hover {
  color: #23527c;
  font-weight: bold;
  text-decoration: none;
}

/*------------------------------------------------
*   Location
------------------------------------------------*/

.location {
  align-items: center;
  background-color: #a5a5a5;
  padding: 60px 0 80px 0;
}

.location iframe {
  padding: 20px 0;
}

/*------------------------------------------------
*   Footer
------------------------------------------------*/

.footer {
  background-color: #252525;
  color: #777;
  padding-top: 20px;
}

.footer .contact-email {
  text-decoration: none;
  transform: none;
}

.footer + .contact-email:active,
.footer .contact-email:focus,
.footer .contact-email:hover {
  color: #fff;
  text-decoration: none;
  transform: none;
}
